<div class="container d-flex justify-content-center align-items-center" style="margin-top: 5%;">
  <div class="card shadow p-4 rounded-4" style="max-width: 400px; width: 100%;">
    <div class="text-center mb-4">
      <h2 class="fw-bold text-primary">Iniciar Sesión</h2>
    </div>
    
    <form [formGroup]="formLogin">
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" id="email" class="form-control"  formControlName="email">
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" id="password" class="form-control"formControlName="password">
      </div>

      <div class="mb-3 text-end">
        <a href="#" class="text-decoration-none text-muted small">¿Olvidaste tu contraseña?</a>
      </div>

      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary" (click)="login()">Ingresar</button>
        <button type="button" class="btn btn-outline-secondary" routerLink="/registrar">Registrarse</button>
      </div>
    </form>
  </div>
</div>